Source: ros-noetic-python-mrpt
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ffmpeg, freeglut3-dev, libassimp-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libfreenect-dev, libgl1-mesa-dev, libglfw3-dev, libglu1-mesa-dev, libjpeg-dev, liboctomap-dev, libopencv-dev, libopenni2-dev, libpcap0.8-dev, libswscale-dev, libtinyxml2-dev, libudev-dev, libusb-1.0-0-dev, libwxgtk3.0-gtk3-dev, libxrandr-dev, libxxf86vm-dev, pkg-config, pybind11-dev, python3-pip, ros-noetic-cv-bridge, ros-noetic-mrpt-libapps, ros-noetic-mrpt-libgui, ros-noetic-mrpt-libnav, ros-noetic-mrpt-libslam, ros-noetic-ros-environment, ros-noetic-rosbag-storage, ros-noetic-roscpp, ros-noetic-tf2-geometry-msgs, wx-common, zlib1g-dev
Homepage: https://www.mrpt.org/
Standards-Version: 3.9.2

Package: ros-noetic-python-mrpt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-mrpt-libapps, ros-noetic-mrpt-libgui, ros-noetic-mrpt-libnav, ros-noetic-mrpt-libslam
Description: Python wrapper for Mobile Robot Programming Toolkit (MRPT) libraries
